@model IEnumerable<NewCoreProject.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    th {
        white-space: nowrap;
    }

</style>
    <h1 class="user-name" style="text-align:center">Accounts</h1>
    <hr />
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

<div class="table-responsive" style="overflow:auto;max-height:400px;max-width:900px">
    <table class="table table-hover">
        <thead class="table-dark">
        <tr>
            <th>
                    Admin Name
            </th>
                <th>
                Admin Email
            </th>
                <th style="max-width: 150px;">
                Admin Password
            </th>
            <th>
               Admin Contact 
            </th>
            <th>
               Admin Address
            </th>
            <th>
           Is Active
            </th>
        @*     <th>
                @Html.DisplayNameFor(model => model.ProfileImagePath)
            </th> *@
            <th>
               Created At
            </th>
                <th style="min-width: 130px;">Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Admin_Name)
            </td>
                    <td>
                @Html.DisplayFor(modelItem => item.Admin_Email)
            </td>
                    <td style="max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                @Html.DisplayFor(modelItem => item.Admin_Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin_Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
        @*     <td>
                @Html.DisplayFor(modelItem => item.ProfileImagePath)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
                        <td class="gap-1" style="display:flex">
                            <a asp-action="Edit" asp-route-id="@item.Admin_Id" class="btn btn-sm btn-success"title="Edit"><i class="fa fa-edit"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Admin_Id" class="btn  btn-sm btn-info" title="Details"><i class="fa fa-file-alt"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Admin_Id" class="btn  btn-sm btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                        </td>
        </tr>
}
    </tbody>
</table>
</div>